<%= provide( :title, 'Manage Children\'s Rights Framework Topics') %>
<%= javascript_include_tag "child_topics" %>
<%= render 'shared/admin_menu' %>
<section class="container">
<h3>Manage Children's Rights Framework Topics</h3><br />
<div class="main">
  <table class="table">
   <%= render @child_topics %>
  </table>
<%= form_for(@child_topic, :html => { :class => "well" } ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= f.label :description, "Add new topic:" %>
  <%= f.text_field :description %>
  <%= f.submit "Add", :class => "btn" %>
<% end %>
</div>
<div class="sidebar">
Use this page to create, edit and delete the legal child_topics in the database.
</div>
</section>
