<div class="span5 basic">
<% flash.each do |key, value| %>
 <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<h3>Manage Refugee Definition Topics</h3><br />
<table class="table">
  <% @refugee_topics.each do |refugee_topic| %>
    <tr><th><%= refugee_topic.description %>
      <%= link_to "edit", edit_refugee_topic_path(refugee_topic.id), class: "tip" %>
      <span class="tip"> | </span>
      <%= link_to "delete", refugee_topic, method: :delete, data: { confirm: "You sure?" }, class: "tip" %>
    </th></tr>
    <% if refugee_topic.refugee_links.empty? %>
      <tr><td><span class="tip">No linked keywords for this topic</span></td></tr>
    <% else %>
      <% refugee_topic.refugee_links.each do |link| %>
      <tr>
        <td>
          <%= link.keyword.description %>
          <% if link.required then %>
            (Required)
          <% end %>
          <%= link_to "unlink", refugee_link_path(link.id), method: :delete, data: { confirm: "You sure?" }, class: "tip"  %>
        </td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
</div>







