<%= provide( :title, 'Manage Refugee Framework Topics') %>
<%= javascript_include_tag "refugee_topics" %>
<%= render 'shared/admin_menu' %>
<section class="container">
<h3>Manage Refugee Framework Topics</h3><br />
<div class="main">
<table class="table">
 <%= render @refugee_topics %>
</table>
<%= form_for(@refugee_topic, :html => { :class => "well" } ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= f.label :description, "Add new topic: " %>
  <%= f.text_field :description %>
  <%= f.submit "Add", :class => "btn" %>
<% end %>
</div>
<div class="sidebar">
Use this page to create, edit and delete the legal refugee_topics in the database.
</div>
</section>
