<%= provide :title, "Sign in" %>
<%= render 'shared/empty_menu' %>
<section class="container">
  <div class="main">
    <h3>Sign in to the CIRL website</h3><br />
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Register here", signup_path %></p>

  </div>
</section>


