<%= provide( :title, "Manage Issues" ) %>
<h3>Manage issues</h3>
<%= render 'shared/sidebar' %>
<div class="main">
<ul class="tidylist">
  <%= render @issues %>
</ul>

<%= form_for(@issue) do |f| %>
  <% @object = @issue %>
  <%= render :partial => "shared/error_messages", :object => @object %>
  <div class="field">
    <%= f.label :description, "Add new issue: " %>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>
