<%= provide( :title, 'Manage Issues') %>
<h3>Manage Legal Issues</h3><br />
<%= render 'shared/sidebar' %>
<div class="main">

<table class="table-striped">
 <%= render @issues %>
</table>

<%= form_for(@issue, :html => { :class => "well form-inline" } ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= f.label :description, "Add new legal issue: " %>
  <%= f.text_field :description %>
  <%= f.submit "Add", :class => "btn" %>
<% end %>
</div>
