<%= provide :title, "Reset Databases" %>
<section class="row">
<%= render 'shared/admin_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <h3>Reset Database</h3><br />

  <%= link_to "Restore default Keywords/Process Procedure/Refugee Concepts/Child Concepts", 
      admin_restore_keywords_path,
      confirm: "Are you sure? This will remove all Keywords, Process and Procedure Concepts, Refugee Concepts and Child concepts and restore the default list", class: "btn btn-danger white" %>

  <br />
  <br />

  <%= link_to "Restore default Courts and Jurisdictions", 
      admin_restore_courts_path,
      confirm: "Are you sure? This will remove all courts from the database and restore the default list", class: "btn btn-danger white" %>

  <br />
  <br />

  <%= link_to "Restore default Countries of origin", 
      admin_restore_country_origins_path,
      confirm: "Are you sure? The default position is to have all countries as potential countries of origin", class: "btn btn-danger white" %>

  <br />
  <br />

  <%= link_to "Restore default Organisations", 
      admin_restore_organisations_path,
      confirm: "Are you sure?", class: "btn btn-danger white" %>

  <br />
  <br />

  <%= link_to "Restore default Document types/Publishers", 
      admin_restore_document_types_path,
      confirm: "Are you sure?", class: "btn btn-danger white" %>

  <br />
  <br />

  <%= link_to "Restore default quotes", 
      admin_restore_quotes_path,
      confirm: "Are you sure?", class: "btn btn-danger white" %>


  </div>
</section>


