<table class="table table-bordered">
<tr>
  <th class="table">
    <span class="case_name">
      <% @case = cirl_case %>
      <%= "#{@case.claimant} v #{@case.respondent}" %>
    </span>
    <span class="case_decision_date">
      <%= "#{@case.decision_date.strftime("%d %b %Y")}" %>
    </span>
    <span class="case_court">
      <%= @case.court != nil ? @case.court.name : "Unknown court" %>
      &nbsp;|&nbsp; 
    </span>
  </th>
</tr>
<tr>
  <td>
    <p>
    <span class="case_other_attribute">Country of origin:</span>
    <span class="case_country_origin">
      <%= @case.country_origin != nil ? @case.country_origin.name : "Unknown country of origin" %>
    </span>
    </p>
    <p>
    <span class="case_other_attribute">Process and Procedure Concepts:</span>
    <span class="case_process_topics">
      <%= @case.process_topics.map(&:description).join(', ') %>
    </span>
    </p>
    <p>
    <span class="case_other_attribute">Refugee concepts:</span>
    <span class="case_refugee_topics">
      <%= @case.refugee_topics.map(&:description).join(', ') %>
    </span>
    </p>
    <p>
    <span class="case_other_attribute">Children's rights concepts:</span>
    <span class="case_child_topics">
      <%= @case.child_topics.map(&:description).join(', ') %>
    </span><br />
    </p>
    <p>
    <span class="case_other_attribute">Keywords:</span>
    <span class="case_keywords">
      <%= @case.keywords.map(&:description).join(', ') %>
    </span><br />
    </p>

  <%= link_to "Download", '/pdfs/' + @case.id.to_s + '.pdf' %>
  | <%= link_to "View", case_path(@case.id) %>
  <% if signed_in? && !current_user.cases.exists?(@case.id)%>
  | <%= link_to "Save", save_case_path(@case.id) %>
  <% end %>
  <% if signed_in? && current_user.admin? %>
  | <%= link_to "Edit", edit_case_path(@case.id) %>
  <% end %>
  <% if signed_in? && current_user.managing_admin? %>
  | <%= link_to "Delete", @case, :method => :delete, :confirm => "You sure?", 
        :title => "Delete this case?" %>
  <% end %>
  </td>
</tr>
</table>
