<div class="control-group">
  <%= f.label :claimant, "Name of claimant: ", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :claimant, autofocus: "autofocus" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :respondent, "Name of respondent: ", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :respondent %><br />
  </div>
</div>

<div class="control-group">
  <%= f.label :abstract, "Abstract: ", class: "control-label" %>
  <div class="controls">
    <%= f.text_area :abstract, :rows => 3, :resize => "none" %><br />
  </div>
</div>

<div class="control-group">
  <%= f.label :decision_date, "Date of decision: ", class: "control-label" %>
  <div class="controls">
    <%= f.select :day, 1..31, prompt: "day" %>
    <%= f.select :month, 1..12, prompt: "month" %>
    <%= f.select :year, 1900..Time.now.year, prompt: "year" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :country_origin, "Applicant's country of origin: ", class: "control-label" %>
  <div class="controls">
    <%= collection_select(:case, :country_origin_id, @country_origins, 
                          :id, :name, prompt: "(Select a country)" ) %><br />
  </div>
</div>

<div class="control-group">
  <%= f.label :jurisdiction_id, "Jurisdiction decided in:", class: "control-label" %>
  <div class="controls">
    <%= collection_select(:case, :jurisdiction_id, @jurisdictions, 
                          :id, :name, prompt: "(Select a jurisdiction)" ) %><br />
  </div>
</div>

<div class="control-group">
  <%= f.label :court_id, "Court: ", class: "control-label" %>
  <div class="controls">
    <%= collection_select(:case, :court_id, @courts, :id, :name, { prompt: "(Select a court)" }, 
        { disabled: f.object.court.nil? })%>
        <br />
  </div>
</div>

<div class="control-group">
  <%= f.label :process_topic_ids, "Process/Procedure framework:", class: "control-label"  %>
  <div class="controls">
    <%= render 'process_topics/process_topics', object: f.object %>
  </div>
</div>

<div class="control-group">
  <%= f.label :child_topic_ids, "Children's rights framework:", class: "control-label"  %>
  <div class="controls">
    <%= render 'child_topics/child_topics', object: f.object %>
  </div>
</div>

<div class="control-group">
  <%= f.label :refugee_topic_ids, "Refugee framework:", class: "control-label"  %>
  <div class="controls">
    <%= render 'refugee_topics/refugee_topics', object: f.object %>
  </div>
</div>

<div class="control-group">
  <%= f.label :keyword_ids, "Keywords:", class: "control-label"  %>
  <div class="controls">
    <%= render 'keywords/keywords', object: f.object %>
  </div>
</div>

<div class="control-group">
  <%= f.label :pdf, class: "control-label"  %>
  <div class="controls">
    <%= f.file_field :pdf %>
  </div>
</div>


