<%= provide :title, "Edit a case" %>
<%= render 'shared/sidebar' %>
<div class="main">

<%= form_for @case, :html => { :class => "well", :multipart => true }, 
                    :remote => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <h3>Edit a case</h3><br />
  <%= render 'fields', :f => f %> <br />
  <div class="actions">
    <%= f.submit "Save changes", { :class => "btn" } %>
    <%= f.submit "Cancel", { :class => "btn" } %>
  </div>
<% end %>

</div>




