<%= provide :title, "View all cases" %>

<section class="row">
<%= render 'shared/admin_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<h3>Viewing all cases</h3><br />
    <% @cases.each do |cirl_case| %>
      <%= render "cirl_case_summary", :cirl_case => cirl_case %>
    <% end %>
</div>
</section>
