<%= javascript_include_tag "cases_new" %>
<%= javascript_include_tag "cases" %>
<%= provide :title, "Add new case" %>
<%= render 'case_menu' %>
<div class="container">
  <div class="main">
    <h3>Add new case</h3><br />
    <%= form_for @case, :html => { :class => "well" } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
      <%= render 'fields', :f => f %>
    <br />

    <div class="actions">
      <%= f.submit "Add", { :class => "btn" } %>
    </div>
    <% end %>
  </div>
  <%= render 'shared/sidebar' %>
</div>


