<%= javascript_include_tag "cases_new" %>
<%= provide :title, "Add new case" %>
<section class="row">
<%= render 'shared/admin_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    <h3>Add new case</h3><br />
    <%= form_for @case, :html => { :class => "well form-horizontal change_case" } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
    <%= render 'fields', :f => f %>

    <div class="control-group">
      <label class="control-label">
        &nbsp;
      </label>
      <div class="controls">
        <%= f.submit "Add", { :class => "btn btn-primary" } %>
      </div>
    </div>
    <% end %>
  </div>
</section>


