
<%= provide(:title, "View case") %>
<section class="row">
<%= render 'shared/case_search_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <h2>
    <%= "#{@case.claimant} v #{@case.respondent}" %>
  </h2>
  <br .>
  <p>
  <b>Decided:</b> <%= "#{@case.decision_date.strftime("%d %b %Y")}" %>
  </p>
  <p>
  <b>Asbtract:</b> <%= @case.abstract != nil ? @case.abstract : "No abstract" %>
  </p>
  <p>
  <b>Court:</b> <%= @case.court != nil ? @case.court.name : "Unknown court" %>
  </p>
  <p>
  <b>Refugee Framework Topics: </b>
     <%= @case.refugee_topics.map(&:description).join(', ') %>
  </p>
  <p>
  <b>Children's Rights Framework Topics:</b>
    <%= @case.child_topics.map(&:description).join(', ') %>
  </p>
  <p>
  <b>Keywords:</b>
    <%= @case.keywords.map(&:description).join(', ') %>
  </p>
  <p>
  <b>Full text:</b><br />
    <div class=fulltext>
      <%= @case.fulltext %>
    </div>
  </p>

  <%= link_to "Download", "/pdfs/" + @case.id.to_s + ".pdf", 
      class: "btn btn-primary white"  %>
  <% if signed_in? && !current_user.cases.exists?(@case.id)%>
    <%= link_to "Save", save_case_path(@case.id), class: "btn btn-primary white"  %>
  <% end %>
  <% if signed_in? && current_user.admin? %>
    <%= link_to "Edit", edit_case_path(@case.id), class: "btn btn-primary white" %>
  <% end %>
  <% if signed_in? && current_user.managing_admin? %>
    <%= link_to "Delete", @case, :method => :delete, :confirm => "You sure?", 
        :title => "Delete this case?", class: "btn btn-danger white" %>
  <% end %>
</div>
</section>
