<div class="leftmenu span3">
<ul>
  <li><%= link_to "My Profile", user_path(current_user.id) %></li>
  <li><%= link_to "My Saved Cases", cases_user_path(current_user.id) %></li>
  <li><%= link_to "My Saved Case Searches", case_searches_user_path(current_user.id) %></li>
  <li><%= link_to "My Saved Legal Resources", legal_resources_user_path(current_user.id) %></li>
  <li><%= link_to "My Saved Legal Resource Searches", legal_resource_searches_user_path(current_user.id) %></li>
  <li><%= link_to "My Saved Legal Briefs", legal_briefs_user_path(current_user.id) %></li>
  <li><%= link_to "My Uploaded Legal Briefs", uploaded_legal_briefs_user_path(current_user.id) %></li>
</ul>
</div>
