<%= provide :title, "Add new user" %>
<section class="row">
<%= render 'shared/empty_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

    <h3>Edit your profile</h3><br />
    <%= form_for @user, :html => { :class => "well" } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
      <%= render 'fields', :f => f %>
    <br />

    <div class="actions">
      <%= f.submit "Save changes", { :class => "btn btn-primary" } %>
      <%= f.submit "Cancel", { :class => "btn btn-primary" } %>
    </div>
    <% end %>
  </div>
</section>


