<%= provide :title, @user.name %>
<section class="row">
<%= render 'user_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <h3>My Saved legal_resources</h3><br />
  <table class="table">
  <% if @user.legal_resources.empty? %>
    <tr>
      <td>
      <%= "No saved legal resources" %>
      </td>
    </tr>
  <% end %>
  <% @user.legal_resources.each do |c| %>
    <tr>
      <td>
        <%= render c  %>
        <%= link_to "remove", unsave_legal_resource_path(c.id), class: "tip" %>
      </td>
    </tr>
  <% end %>
  </table>

  </div>
</section>


