<%= provide :title, "Add new case" %>
<%= render 'shared/empty_menu' %>
<section class="container">
  <div class="main">
    <h3>Sign up to CIRL</h3><br />
    <%= form_for @user, :html => { :class => "well" } do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
      <%= render 'fields', :f => f %>
    <br />

    <div class="actions">
      <%= f.submit "Sign up", { :class => "btn" } %>
    </div>
    <% end %>
  </div>
</section>


