<%= provide :title, @user.name %>
<section class="row">
<%= render 'user_menu' %>
  <div class="basic span9">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    <h2>Welcome <%= @user.name %></h2><br />

  <p>
  <%= @user.email %>
  <%= link_to "Edit my profile", edit_user_path(@user.id), class: "tip" %>
  </p>
  <br />

  </div>
</section>


