<%= javascript_include_tag "legal_briefs" %>
<%= provide :title, "Edit a legal brief" %>
<section class="row">
<%= render 'legal_brief_menu' %>
  <div class="basic span9">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
   
    <h3>Edit a legal brief</h3><br />
    <%= form_for @legal_brief, :html => { :class => "well form-horizontal change_legal_brief" } do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= "Uploaded by: " + @legal_brief.user.name %><br /><br />

      <%= render 'fields', :f => f %> <br />
      <div class="actions">
        <%= f.submit "Save changes", class: "btn btn-primary white" %>
        <%= f.submit "Cancel", class: "btn btn-primary white" %>
      </div>
    <% end %>

  </div>
</section>






