<div class="leftmenu">
<ul>
  <li><%= link_to "Search cases", cases_path %></li>
  <li><%= link_to "Add new case", new_case_path %></li>
  <li><%= link_to "Import cases", import_cases_path %></li>
  <li><%= link_to "Manage courts", courts_path %></li>
  <li><%= link_to "Manage jurisdictions", jurisdictions_path %></li>
  <li><%= link_to "Manage refugee framework topics", refugee_topics_path %></li>
  <li><%= link_to "Manage children's framework topics", child_topics_path %></li>
  <li><%= link_to "Manage keywords", keywords_path %></li>
</ul>
</div>
