<div class="leftmenu">
<ul>
  <li><%= link_to "Add new case", new_case_path %></li>
  <li><%= link_to "Import cases", import_case_path %></li>
  <li><%= link_to "Manage courts", courts_path %></li>
  <li><%= link_to "Manage jurisdictions", jurisdictions_path %></li>
  <li><%= link_to "Manage child topics", child_topics_path %></li>
  <li><%= link_to "Manage refugee topics", refugee_topics_path %></li>
  <li><%= link_to "Search cases", cases_path %></li>
</ul>
</div>
