<div class="sidebar round">
<h3>Options</h3>
<ul>
  <li><%= link_to "Search cases", cases_path %></li>
  <li><%= link_to "Add new case", new_case_path %></li>
  <li><%= link_to "Manage courts", courts_path %></li>
  <li><%= link_to "Manage jurisdictions", jurisdictions_path %></li>
  <li><%= link_to "Manage legal subjects", subjects_path %></li>
  <li><%= link_to "Manage legal issues", issues_path %></li>
</ul>
</div>
