<%= provide :title, "Manage Courts" %>
<section class="row">
<%= render 'shared/admin_menu' %>
<div class="span5 basic">
<h3>Manage Courts</h3><br />
<%= render 'list' %>
</div>

<div class="span4 basic" >
  <h3>Edit "<%= @court.name %>" </h3><br />
<%= form_for(@court, :html => { :class => "well"} ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= render "fields", :f => f %>
 <div class="actions">
    <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>

</section>

