<%= provide(:title, "Manage Courts") %>
<h1>Listing courts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courts.each do |court| %>
  <tr>
    <td><%= link_to 'Show', court %></td>
    <td><%= link_to 'Edit', edit_court_path(court) %></td>
    <td><%= link_to 'Destroy', court, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Court', new_court_path %>
