<%= javascript_include_tag "courts" %>
<%= provide :title, "Manage Courts" %>
<%= render 'shared/admin_menu' %>
<section class="container">
<h3>Manage Courts</h3><br />

<div class="main">
  <table class="table">
  <% @jurisdictions.each do |jurisdiction|%>
    <tr><th><%= jurisdiction.name %></th></tr>
    <% jurisdiction.courts.each do |court| %>
    <% if court.nil? %>  
      <tr><td><span class="tip">No courts in this jurisdiction</span></td></tr>
    <% else %>
      <%= render court %>
    <% end %>
    <% end %>
  <% end %>
  </table>
</div>

<div class="sidebar" >
<%= form_for(@court, :html => { :class => "well"} ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="field">
    <%= f.label :name, "Add new court: " %>
    <%= f.text_field :name %>
    <%= f.label :jurisdiction_id, "Jurisdiction: " %>
    <%= collection_select(:court, :jurisdiction_id, @jurisdictions, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>

</section>

