<%= provide(:title, "Manage Courts") %>
<h3>Manage Courts</h3><br />
<%= render 'shared/sidebar' %>
<div class="main">
<table class="table-striped">
  <%= render @courts %>
</table>

<%= form_for(@court, :html => { :class => "well"} ) do |f| %>
  <% @object = @court %>
  <%= render :partial => "shared/error_messages", :object => @object %>
  <h3>Add new court</h3>
  <div class="field">
    <%= f.label :name, "Name: " %>
    <%= f.text_field :name %>
    <%= f.label :jurisdiction_id, "Jurisdiction: " %>
    <%= collection_select(:court, :jurisdiction_id, Jurisdiction.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>


