<%= provide( :title, 'Manage Subjects') %>
<h3>Manage Legal Subjects</h3><br />
<%= render 'shared/sidebar' %>
<div class="main">
<table class="table-striped">
 <%= render @subjects %>
</table>

<%= form_for(@subject, :html => { :class => "well form-inline" } ) do |f| %>
  <% @object = @subject %>
  <%= render :partial => "shared/error_messages", :object => @object %>
  <%= f.label :description, "Add new legal subject: " %>
  <%= f.text_field :description %>
  <%= f.submit "Add", :class => "btn" %>
<% end %>
</div>
