<%= provide( :title, 'Manage Subjects') %>
<h3>Manage Legal Subjects</h3>
<%= render 'shared/sidebar' %>
<div class="main">
<ul class="tidylist">
   <%= render @subjects %>
</ul>

<%= form_for(@subject, :remote => true) do |f| %>
  <% @object = @subject %>
  <%= render :partial => "shared/error_messages", :object => @object %>
  <div class="field">
    <%= f.label :description, "Add new legal subject to the database: " %>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>
