<%= provide :title, "Manage Process Topics" %>
<section class="row">
<%= render 'shared/admin_menu' %>
<%= render 'list' %>

<div class="span4 basic" >
  <h3>Edit "<%= @process_topic.description %>" </h3><br />
<%= form_for(@process_topic, :html => { :class => "well"} ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
    <%= f.label :description, "Description: " %>
    <%= f.text_field :description, autofocus: "autofocus" %>
    <div class="actions">
    <%= f.submit "Save Changes", class: "btn btn-primary" %>
    <%= link_to "Cancel", process_topics_path, class: "btn btn-primary white" %>
  </div>
<% end %>
</div>

</section>

