<%= provide( :title, 'Manage Process Definition Topics') %>
<section class="row">
<%= render 'shared/admin_menu' %>
<%= render 'list' %>
<div class="span4 basic">
  <h3>Add a new process topic</h3><br />
<%= form_for(@process_topic, :html => { :class => "well" } ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= f.label :description, "Description: " %>
  <%= f.text_field :description %>
  <%= f.submit "Add", :class => "btn btn-primary" %>
<% end %>

<h3>Add a new Link</h3>
<%= form_for(@process_link, :html => { :class => "well" } ) do |f| %>
  <%= f.label :description, "Process Concept: " %>
  <%= collection_select(:process_topic, :id, @process_topics, :id, :description ) %>
  <%= f.label :description, "Keyword: " %>
  <%= collection_select(:keyword, :id, @keywords, :id, :description ) %>
  <%= f.label :description, "Required? " -%>
  <%= check_box(:required, :required ) %>
  <br /><br />

  <%= f.submit "Add", :class => "btn btn-primary" %> 
<% end %>


<%= link_to "Restore Default Process Definition Topics", 
            restore_process_topics_path,
            confirm: "Are you sure? This will remove all process_topics in the database and restore the default list", class: "btn btn-danger white" %>
</div>
</section>
