<%= provide(:title, "Manage Jurisdictions") %>
<h3>Manage Jurisdictions</h3>
<%= render 'shared/sidebar' %>
<div class="main">
<ul class="tidylist">
  <%= render @jurisdictions %>
</ul>

<%= form_for(@jurisdiction) do |f| %>
  <% @object = @jurisdiction %>
  <%= render :partial => "shared/error_messages", :object => @object %>
  <div class="field">
    <%= f.label :name, "Add new jurisdiction: " %>
    <%= f.select :name, get_countries %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>
