<%= provide(:title, "Manage Jurisdictions") %>
<section class="row">
<%= render 'shared/admin_menu' %>
<div class="span5 basic">
 <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
 <% end %>
<h3>Manage Jurisdictions</h3><br />

<% if @del_jurisdiction != nil then %>
  <%= render "shared/error_messages", :object => @del_jurisdiction %>
<% end %>

<table class="table">
  <%= render @jurisdictions %>
</table>
</div>

<div class="span4 basic">
  <h3>Add a new jurisdiction</h3><br />
<%= form_for(@jurisdiction, :html => { :class => "well" } ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
    <%= f.select :name, get_countries, :prompt => "(Select a jurisdiction)" %>
    <%= f.submit "Add jurisdiction", class: "btn btn-primary btn-large" %>
<% end %>

</div>
</section>
