<%= provide(:title, "Manage Jurisdictions") %>
<h3>Manage Jurisdictions</h3>
<%= render 'shared/sidebar' %>
<div class="main">
<ul class="tidylist">
  <% @jurisdictions.each do |jurisdiction| %>
    <li>
    <%= jurisdiction.name %>
    </li>
  <% end %>
</ul>

<%= form_for(@jurisdiction) do |f| %>
  <div class="field">
    <%= f.label :name, "Add new jurisdiction: " %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>
