<%= provide( :title, 'Manage Keywords') %>
<section class="row">
<%= render 'shared/admin_menu' %>
<%= render 'list' %>
<div class="span4 basic">
  <h3>Add a new keyword</h3><br />
<%= form_for(@keyword, :html => { :class => "well" } ) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <%= f.label :description, "Description: " %>
  <%= f.text_field :description %>
  <%= f.submit "Add", :class => "btn btn-primary" %>
<% end %>
<%= link_to "Restore Default Keywords", restore_keywords_path,
            confirm: "Are you sure? This will remove all Keywords in the database and restore the default list" %>
</div>
</section>
