<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @test.content %>
</p>

<p>
  <b>User:</b>
  <%= @test.user_id %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
