<%= javascript_include_tag "legal_resources" %>
<%= provide :title, "Edit a legal resource" %>
<section class="row">
<%= render 'shared/admin_menu' %>
  <div class="basic span9">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
   
    <h3>Edit a legal resource</h3><br />
    <%= form_for @legal_resource, :html => { :class => "well form-horizontal change_legal_resource" } do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= render 'fields', :f => f %> <br />
      <div class="actions">
        <%= f.submit "Save changes", class: "btn btn-primary white" %>
        <%= f.submit "Cancel", class: "btn btn-primary white" %>
      </div>
    <% end %>

  </div>
</section>






