<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <header id="main">
    <%# <%=image_tag("childref.png", :alt => "ChildRef" ) %>
    <span class="big"><%= link_to "ChildRef", root_path %></span>
    <p>online resource centre for children seeking international protection</p>
    </header>
    <div class="container">
      <ul class="nav">
        <li <%= raw "class=\"active\"" if check_tab == "home" %>>
          <%= link_to "HOME", root_path %>
        </li>

        <li id="case_law_db" class="dropdown<%= " active" if check_tab == "case_law_db" -%>">
          <%= link_to "#", { class: "dropdown-toggle", :'data-toggle' => "dropdown" } do %>
            CASE DATABASE <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Basic Search", new_case_search_path %></li>
            <li><%= link_to "Advanced Search", new_case_search_path(advanced: "advanced") %></li>
          </ul>
        </li>

        <li id="resources" class="dropdown<%= " active" if check_tab == "resources" -%>">
          <%= link_to "#", { class: "dropdown-toggle", :'data-toggle' => "dropdown" } do %>
            LEGAL RESOURCES<b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Basic Search", "#" %></li>
            <li><%= link_to "Advanced Search", "#" %></li>
          </ul>
        </li>

        <li <%= raw "class=\"active\"" if check_tab == "legal_briefs" %>>
          <%= link_to "LEGAL BRIEFS", legal_briefs_path %>
        </li>

        <li id="about" class="dropdown<%= " active" if check_tab == "about" -%>">
          <%= link_to "#", { class: "dropdown-toggle", :'data-toggle' => "dropdown" } do %>
            ABOUT <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Overview", about_cirl_path %></li>
            <li><%= link_to "Advisory Committee", about_advisory_path %></li>
            <li><%= link_to "Coram Children's Legal Centre", about_coram_path %></li>
            <li><%= link_to "The Diana, Princess of Wales Memorial Fund", about_diana_path %></li>
            <li><%= link_to "Contact us", contact_path %></li>
          </ul>
        </li>

        <% if signed_in? && current_user.admin? %>
        <li><%= link_to "ADMIN", admin_path %></li> 
        <% end %>

      </ul>
      <ul class="nav pull-right">
      <% if signed_in? %>
        <li><%= link_to "MY ACCOUNT", current_user %></li> 
        <li><%= link_to "SIGN OUT", signout_path, method: "delete" %>
      <% else %>
        <li><%= link_to "REGISTER", signup_path %></li>
        <li><%= link_to "SIGN IN", signin_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
