<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <header id="main">
    <%# <%=image_tag("cirl.png", :alt => "CIRL", :class => "round") %>
    <nav>
    <ul>
      <li><%= link_to "Register", signup_path %></li>
      |
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
    </nav>
    <span><%= link_to "The Child in International Refugee Law", root_path %></span>
    </header>
    <div class="container">
      <ul class="nav">
        <li <%= raw "class=\"active\"" if check_tab == "home" %>>
          <%= link_to "HOME", root_path %>
        </li>

        <li id="case_law_db" class="dropdown<%= " active" if check_tab == "case_law_db" -%>">
          <%= link_to "#", { class: "dropdown-toggle", :'data-toggle' => "dropdown" } do %>
            CASE LAW DATABASE <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Introduction to the case law database", cases_path %></li>
            <li><%= link_to "Basic Search", cases_path %></li>
            <li><%= link_to "Advanced Search", cases_path %></li>
          </ul>
        </li>

        <li <%= raw "class=\"active\"" if check_tab == "literature" %>>
          <%= link_to "LITERATURE", about_path %>
        </li>

        <li id="about" class="dropdown<%= " active" if check_tab == "about" -%>">
          <%= link_to "#", { class: "dropdown-toggle", :'data-toggle' => "dropdown" } do %>
            ABOUT <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "The Child in International Refugee Law", about_cirl_path %></li>
            <li><%= link_to "The Advisory Committee", about_advisory_path %></li>
            <li><%= link_to "The Princess Diana Fund", about_diana_path %></li>
          </ul>
        </li>

        <li id="admin" class="dropdown<%= " active" if check_tab == "admin" -%>">
        <%= link_to "#", { class: "dropdown-toggle", :'data-toggle' => "dropdown" } do %>
          ADMIN <b class="caret"></b>
        <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Add new case", new_case_path %></li>
            <li><%= link_to "Import cases", import_cases_path %></li>
            <li><%= link_to "Manage courts", courts_path %></li>
            <li><%= link_to "Manage jurisdictions", jurisdictions_path %></li>
            <li><%= link_to "Manage refugee framework topics", refugee_topics_path %></li>
            <li><%= link_to "Manage children's framework topics", child_topics_path %></li>
            <li><%= link_to "Manage keywords", keywords_path %></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
