<header id="second">
  <ul>
    <li <%= raw "class=\"front_tab\"" if check_tab == "home" %>>
      <%= link_to "HOME", root_path %>
    </li>
    <li <%= raw "class=\"front_tab\"" if check_tab == "case_law_db" %>>
      <%= link_to "CASE LAW DATABASE", cases_path %>
    </li>
    <li <%= raw "class=\"front_tab\"" if check_tab == "literature" %>>
      <%= link_to "LITERATURE", about_path %>
    </li>
    <li <%= raw "class=\"front_tab\"" if check_tab == "literature" %>>
      <%= link_to "ABOUT", about_path %>
    </li>
  </ul>
</header>
